name: Deploy Azure Function

on:
  push:
    branches: ["main"]

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: .
  NODE_VERSION: 20
  FUNCTION_APP_NAME: menim-rapidapi-testim-fn

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm install

      - name: Build (optional)
        run: npm run build --if-present

      - name: Deploy to Azure Function
        uses: azure/functions-action@v1
        with:
          app-name: ${{ env.FUNCTION_APP_NAME }}
          package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }
          - name: Azure Login
  uses: azure/login@v1
  with:
    auth-type: SERVICE_PRINCIPAL
    client-id: ${{ secrets.AZURE_CLIENT_ID }}
    tenant-id: ${{ secrets.AZURE_TENANT_ID }}
    client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
    subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
