# Docs for the Azure Web Apps Deploy action: https://github.com/azure/functions-action
name: Build and deploy Node.js project to Azure Function App - flex-thumbnail-rg

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: '.' # Fayl yolu KÖK QOVLUQ olaraq təyin edildi
  NODE_VERSION: '20'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@v4

      - name: Setup Node ${{ env.NODE_VERSION }} Environment
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: 'Resolve Project Dependencies Using Npm'
        shell: bash
        run: |
          npm install

      - name: Zip artifact for deployment
        run: zip release.zip ./* -r

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Unzip artifact for deployment
        run: |
          unzip release.zip
          rm release.zip
          
      - name: 'Run Azure Functions Action'
        uses: Azure/functions-action@v1
        with:
          app-name: 'flex-thumbnail-rg' # Sizin Funksiya Tətbiqinizin Adı
          package: '.' # Fayl yolu KÖK QOVLUQ olaraq təyin edildi
          # Sizin yeganə və düzgün açarınızı (secrets) istifadə edirik:
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
